terraform/.DS_Store
terraform_aws_project/.terraform.lock.hcl
terraform_aws_project/terraform.tfstate
terraform_aws_project/terraform.tfstate.backup
terraform_aws_project/.terraform/*
.DS_Store
.DS_Store
.DS_Store
